default_language_version:
  python: python3.12

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      - id: ruff
        args: [--fix]
        files: ^backend/.*\.py$
        exclude: ^backend/alembic/
      - id: ruff-format
        files: ^backend/.*\.py$
        exclude: ^backend/alembic/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
      - id: mypy
        files: ^backend/.*\.py$
        exclude: ^backend/alembic/
        additional_dependencies: [pydantic-settings, sqlalchemy, fastapi]

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        files: ^frontend/

