.group {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.label {
  font-size: 0.9rem;
  color: #ccc;
}

.input {
  padding: 0.5rem;
  background: #444;
  border: 1px solid #555;
  color: white;
  border-radius: 4px;
  font-family: inherit;

  &:focus {
    outline: 2px solid #646cff;
    border-color: transparent;
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}
